{{> header}}
       
        <div class="content login middle" id="artworks">
          <div class="cell">
              <div class="container">
                  <div class="row">
                      <p class="font30 text-center">MY ARTWORKS</p>
                      <div class="col-xs-12 mb20">
                        <a href="" onclick="addArtwork()">
                          <span class="iconfont icon-add button-icon mr20"></span>
                          <span class="font18 black">Add a new artwork</span>
                        </a>
                        
                      </div>
                      <div class="col-sm-7 col-xs-12">
                        
                        <table class="table mb0">
                          <tr>
                            <th>Name</th>
                            <th class="text-center w30">Latest change</th>
                          </tr>
                        </table>
                        <div class="scroll-wrapper">
                            <div class="scrollbar-dynamic">
                                <table class="table list-box">
                                    {{#artworks}}
                                        <tr>
                                            <td>{{ name }}</td>
                                            <td class="text-center w30">{{ changedate }}</td>
                                        </tr>
                                    {{/artworks}}

                                </table>

                            </div>
                        </div>

                        <p class="text-center mt30">
                          <span class="text-super">Scroll down to see more</span> <br>
                          <span class="iconfont icon-jiantou_down font30 animate-bounce-down"></span>
                        </p>
                        
                      </div>

                      <div class="col-sm-5 col-xs-12 text-center">
                        <img id="artwork_image" src="" alt="">
                        <div class="mt50 font11">
                          {{ current.product }}
                        </div>
                        <div class="mt50">
                            <a class="black mr20" href="" >Open</a>
                            <a class="black" data-toggle="modal" data-target="#edit"><span class="iconfont icon-edit font18"></span></a>
                            <a class="black" data-toggle="modal" data-target="#delete"><span class="iconfont icon-delete font18"></span></a>
                        </div>
                      </div>
                  </div>
                 
                </div>
          </div>
          
        </div>
       
       

        <div class="modal" id="edit" tabindex="-1" role="dialog" aria-labelledby="" data-backdrop="static">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
             
              <div class="modal-body">
                <p class="font18 text-center">EDIT ARTWORK</p>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                     <table class="table mt30 font12">
                       <tr>
                         <td>Name</td>
                         <td><input type="text" class="form-control" @value="current.name"></td>
                       </tr>
                       <tr>
                        <td class="text-middle">Product</td>
                        <td class="text-right">ALBA 4 General Purpose + Socket (Double Frame)</td>
                      </tr>
                      <tr>
                        <td class="text-middle">Unique ID</td>
                        <td class="text-right">999999</td>
                      </tr>
                      <tr>
                        <td class="text-middle">Communication protocol</td>
                        <td class="text-right text-middle">
                          <input type="text" class="form-control" value="Cresnet" id="communication"/>
                        </td>
                      </tr>
                    </table>
                    <div class="mt50 text-center">
                      <div class="row mlr0">
                        <div class="col-sm-4 prl7">
                           <button type="button" class="ebutton">OK</button>
                        </div>
                        <div class="col-sm-4 prl7">
                            <button type="button" class="ebutton">Change design</button>
                        </div>
                        <div class="col-sm-4 prl7">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="ebutton">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>



        <div class="modal" id="delete" tabindex="-1" role="dialog" aria-labelledby="" data-backdrop="static">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
               
                <div class="modal-body">
                  <p class="font18 text-center">DELETE ARTWORK</p>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                       <p class="mt30 text-center font15">Are you sure you want to delete “{{ name }}” ?</p>
                      <div class="mt50 text-center">
                        <div class="row mlr0">
                        
                          <div class="col-sm-offset-2 col-sm-4 prl7">
                             <button type="button" class="ebutton" onclick="deleteArtwork({{ id }});">OK</button>
                          </div>
                          
                          <div class="col-sm-4 prl7">
                              <button type="button" data-dismiss="modal" aria-label="Close" class="ebutton">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>

    
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
      jQuery(document).ready(function(){
          jQuery('.scrollbar-dynamic').scrollbar();
      });

    //Add a mew artwork **This is a temporary method.
    function addArtwork(){

        $.post( "/artwork").done(function( data ) {
                    if(result =="success")
                        alert("Artwork has been successfully deleted.");
                    $(location).attr('href',"/artworks");
                });

    }
    //Delete a artwork by ID
    function deleteArtwork(id){

          $.ajax({
              url: '/artwork/'+id,
              type: 'DELETE',
              success: function(result) {
                  if(result =="success")
                  alert("Artwork has been successfully deleted.");
                  $(location).attr('href',"/artworks");


              }
          });

      }
    </script>
     <script type = "text/javascript">

        // var app = new Vue({
        //     el: '#app',
        //     data: {
        //         message: 'Hello Vue!'
        //     }
        // })

    //   new Vue({
    //   el: '#artworks',
    //   data () {
    //       return {
    //       info: null,
    //       current: null
    //       }
    //     },
    //   mounted () {
    //       axios
    //       .get('../../data.json')
    //       .then(response => (
    //         this.info = response.data.artworks,
    //         this.current = this.info[0]
    //         ))
    //       .catch(function (error) { // 请求失败处理
    //           console.log(error);
    //       });
    //
    //     },
    //   methods: {
    //     zan(index){
    //           this.current = this.info[index]
    //           }
    //       }
    //
    // })
  </script>
{{> footer}}
