<script src="https://cdn.staticfile.org/vue/2.4.2/vue.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script src="js/icheck.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scrollbar.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/icheck.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>