{{> header}}

        <div class="content login middle">
          <div class="cell">
              <div class="container">
                  <div class="row">
                     
                      <div class="col-sm-5 col-xs-12 text-center mt5p">
                        <img src="{{artwork.img}}" alt="">
                      </div>
                      <div class="col-sm-5 col-xs-12 col-sm-offset-2 text-right">
                        <h3 class="now">{{artwork.name}}</h3>
                        <div class="mt30 lh25">
                          <p>{{artwork.product}}</p>
                          <p>{{artwork.protocol}}</p>
                          <p>UID {{artwork.id}}</p>
                          <div class="font11 lh15">
                            D L FE 4K X G YB <br> 
                            D L FE FR 1F X M AS<br>
                            D L BE 12 K
                          </div>
                        </div>

                        <div class="mt30">
                            <a href="#">
                              <span class="font18 black">Add to a project</span>
                              <span class="button-icon ml20"></span>
                            </a>
                            <hr>
                            <div class="row font12">
                              <div class="col-sm-4 text-left">
                                  <a href="#">
                                    <span class="button-icon"></span><br>
                                    <span class="black mt10 inlineb">Generate engraving file (.DXF)</span>
                                  </a>
                              </div>
                              <div class="col-sm-4 text-center">
                                  <a href="#">
                                      <span class="button-icon"></span><br>
                                      <span class="black mt10 inlineb">Generate product labels (.XML)</span>
                                    </a>
                              </div>
                              <div class="col-sm-4">
                                  <a href="#">
                                      <span class="button-icon"></span><br>
                                      <span class="black mt10 inlineb">Print artwork reference sheet (.PDF)</span>
                                    </a>
                              </div>
                            </div>
                        </div>
                        
                      </div>
                     
                  </div>
                 
                </div>
          </div>
          
        </div>
       
  
        
    
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


{{> footer}}