.panel-default>.panel-heading{
  background-color:#fff;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}
.panel-default{
  border: none;
  box-shadow: none;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
  border: none;
}
.option a{
  display: none;
}
tr:hover .option a{
  display: inline-block;
}
.h40{
  min-height:45px;
  height: 45px;
}
tr:hover td:first-child{
  color:#D00000;
}
.panel-title .glyphicon{
  font-size:18px;
  margin-top: 26px;
  margin-right: 10px;
  color:#9c9c9c;
}
.collapsed .glyphicon-menu-up:before{
  content: "\e259";
}
.modal-dialog {
  margin: 4.2% auto;
}
.breadcrumb{
  padding:15px;
  margin-bottom:0;
}
.breadcrumb a{
  color:#777;
}
.breadcrumb>li+li:before{
  content: "\e258";
  font-family: 'Glyphicons Halflings';
  font-size:12px;
  color:#999;
  padding:0 15px;
}
.content.project{
  min-height: calc(100vh - 180px);
}
.img-box{
  border:1px solid #999;
}
.product-box:hover .img-box{
  border-color:#F40000;
}
.pcsinput{
  display: none;
}